---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
import ListBooks from '../components/ListBooks.astro';
---

<Layout title="Libros de programación">
	<main class="m-auto max-w-6xl">
		<Title />

		<ListBooks />
	</main>
</Layout>